export(gtable_add_col_space)
export(gtable_add_cols)
export(gtable_add_grob)
export(gtable_add_row_space)
export(gtable_add_rows)
export(gtable_col_spacer)
export(gtable_col)
export(gtable_filter)
export(gtable_matrix)
export(gtable_row_spacer)
export(gtable_row)
export(gtable_show_layout)
export(gtable_trim)
export(gtable)
export(is.gtable)
S3method(cbind,gtable)
S3method(dim,gtable)
S3method(grid.draw,gtable)
S3method(plot,gtable)
S3method(print,gtable)
S3method(rbind,gtable)
S3method(t,gtable)
